/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  min-height: 450px;
  background-position: center;
  background-size: cover;
}

.card-content {
  cursor: pointer;
}

.card-content,
.card-content p,
.card-content h1,
.card-content span {
  transition: 0.3s;
}

.card-content p.opak {
  opacity: 0;
}

.card-content:hover p.opak {
  opacity: 1;
}

.card-content.blue:hover {
  background-color: rgba(100, 148, 237, 0.8);
}
.card-content.purple:hover {
  background-color: rgba(76, 0, 130, 0.8);
}
.card-content.green:hover {
  background-color: rgba(106, 142, 35, 0.8);
}
.card-content.red:hover {
  background-color: rgba(178, 34, 34, 0.8);
}
.card-content.black:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.card-content.black:hover h1,
.card-content.black p,
.card-content.black:hover span {
  color: gold;
}
.card-content.lila:hover {
  background-color: rgba(255, 0, 255, 0.8);
}
.card-content.leef:hover {
  background-color: rgba(143, 188, 143, 0.8);
}
.card-content.lime:hover {
  background-color: rgba(50, 205, 50, 0.8);
}
.card-content.brown:hover {
  background-color: rgba(210, 105, 30, 0.8);
}

#menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #fff;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menuToggle input:checked ~ ul {
  transform: none;
  left: 0;
  transition: all;
}

#menu {
  width: 80vw;
  @apply bg-gray-800 pt-24;
  left: -80vw;
  transition: all;
}
